body{
    background-color: rgb(5, 226, 255);
    text-align: center;
}
button{
    background-color: rgb(250, 87, 87);
    border: 1px solid  rgb(250, 87, 87);
    border-radius: 10px; 
}
input{
     background-color: rgb(255, 122, 122);
}
fieldset{
    width: 500px;
}
img{
    background-color: rgb(5, 226, 255);
}