body{
    background-color: rgb(5, 226, 255);
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
button{
    background-color: rgb(250, 87, 87);
    border: 1px solid  rgb(250, 87, 87);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}
input{
    background-color: rgb(255, 122, 122);
    color: black;
}
