h1{
    text-align: center;
    color: aquamarine;
  }
.szoveg{
  color: rgb(0, 119, 255);
 font-size: large; 
}
li{
  margin-bottom: 10px;
}
fieldset{
  max-width: 500px;
  max-height: 200px;
  border: rgb(0, 119, 255) solid 1px;
  margin-bottom: 20px;
}
legend{
  color: rgb(0, 119, 255);
}