    a{
      text-decoration: none;
      background-color: rgb(56, 238, 0);
      color: rgb(rgb(255, 251, 0));
    }
    button{
      border-radius: 5px;
    }
    body{
        text-align: center;
    }
    ol,ul,li{
        text-align: center;
    }